<footer>
	<div class="footer__container">
		<div class="footer-column footer__column-left">
			<a href="#" class="logo-kenneth-cole">Kenneth Cole</a>
			<nav class="footer__nav">
				<a href="#">Stories</a>
				<a href="#">You Buy, We Give</a>
				<a href="#">Timeline</a>
				<a href="#">Change Agents</a>
				<a href="#">Shop KC</a>
			</nav>
		</div>
		<div class="footer-column footer__column-right">
			<div class="footer__form">
				<p>Stay up to date</p>
				<form>
					<input type="email" name="email" class="input-email" placeholder="Email address" required></input>
					<input type="submit" class="input-submit icon-submit"  value=">"></input>
				</form>
			</div>
			<div class="footer__socials">
				<a href="#" class="footer__social-icon icon-fb-gray">facebook</a>
				<a href="#" class="footer__social-icon icon-tw-gray">twitter</a>
				<a href="#" class="footer__social-icon icon-yt-gray">youtube</a>
			</div>
			<p class="legal">
				&copy; 2014 KENNETH COLE PRODUCTIONS, INC.   |   <a href="#">PRIVACY POLICY</a>   |   <a href="#">TERMS OF USE</a>
			</p>
		</div>
	</div>
</footer>