<header>
	<a href="#" class="logo-look-good">Look Good, For Good - Kenneth Cole</a>
	<nav class="header__nav">
		<div class="nav__subnav subnav-main">
			<a href="#">Stories</a>
			<a href="#">You Buy, We Give</a>
			<a href="#">Timeline</a>
			<a href="#">Change Agents</a>
			<a href="#">Shop KC</a>
		</div>
		<div class="nav__subnav subnav-socials">
			<a href="#" class="icon-fb-white social-icons-white">facebook</a>
			<a href="#" class="icon-tw-white social-icons-white">twitter</a>
			<a href="#" class="icon-yt-white social-icons-white">youtube</a>
		</div>
	</nav>
</header>
