<section class="section-actions">

	<div class="section-actions__column">
		<figure class="image-robert"></figure>
		<h4 class="text-line">CHANGE AGENTS</h4>
		<h2>ROBERT REDFORD</h2>
		<p>
			As founder of the Sundance 
			Institute, Robert Redford supports 
			thought-provoking, independent 
			voices in film and theater.
		</p>
		<div class="callout"><a href="#">MEET CHANGE AGENTS</a></div>
	</div>

	<div class="section-actions__column">
		<figure class="image-corn"></figure>
		<h4 class="text-line">TAKE PART</h4>
		<h2>AMERICA'S CORN ADDICTION</h2>
		<p>
			The $65 billion crop is depleting 
			aquifers, polluting the Gulf of 
			Mexico, and contributing to climate 
			change. Read the story on our 
			partner site.
		</p>
		<div class="callout"><a href="#">LEARN MORE</a></div>
	</div>

	<div class="section-actions__column">
		<figure class="image-aids">"This year, because of AIDS, hundreds of Americans won't live long enough to fill these shoes." &mdash;Kenneth Cole</figure>
		<h4 class="text-line">ADVERTISING</h4>
		<h2>ALWAYS SPEAK YOUR MIND</h2>
		<p>
			For over 30 years we’ve been 
			raising awareness for social change 
			with our advertising. Browse our 
			archive and pick your favorite.
		</p>
		<div class="callout"><a href="#">BROWSE THE ARCHIVE</a></div>
	</div>

</section>
