<section class="section-sub-hero">
	<a href="#">
		<section class="section-sub-hero__moving">
			<hr class="top-paragraph-line"/>
			<h2>Moving pictures</h2>
			<p>
				SEE HOW THE SUNDANCE INSTITUTE 
				EMPOWERS THE STORYTELLERS OF 
				TOMORROW
			</p>
			<hr class="bottom-paragraph-line"/>
		</section>
	</a>

	<a href="#">
		<section class="section-sub-hero__home">
			<hr class="top-paragraph-line"/>
			<h2>Finding Home</h2>
			<p>
				LEARN HOW HELP USA IS WORKING TO 
				END HOMELESSNESS
			</p>
			<hr class="bottom-paragraph-line"/>
		</section>
	</a>
</section>