<section class="section-buy-give">
	<figure class="image-shoes"></figure>
	<div class="buy-give__text">
		<h3>
			YOU BUY, <br/>
			WE GIVE.
		</h3>
		<hr/>
		<p>
			Every Kenneth Cole purchase makes a 
			difference. Discover how we’re committed to 
			changing the world while looking amazing.
		</p>
		<div class="callout"><a href="#">LEARN MORE</a></div>
	</div>
</section>
