<section class="section-hero image-hero">
	<h1>
		THE POWER <br/>
		<span>of</span> <br/>
		LOVE
	</h1>
	<p>Inside the St. Luke Foundation for Haiti.</p>
	<a href="#"><div class="callout">Discover St. Luke</div></a>
</section>