<section class="section-story bg_circles">
	<h3>ADD YOUR STORY TO OURS</h3>
	<hr/>
	<p>
		For over 30 years, Kenneth Cole has raised 
		awareness for social issues. Add your story to
		 our timeline and let’s tell our story together.
	</p>
	<div class="callout"><a href="#">EXPLORE THE TIMELINE</a></div>
</section>
