

//========= MODULE SUB HERO ==========//

.section-sub-hero {
	@include clearfix;
	color: white;
	a {
		color: white;
	}
	section {
		width: 50%;
		height: 448px;
		float: left;
		@include small {
			float: none;
			width: 100%;
		}
	}
	.top-paragraph-line {
		margin-top: 130px;
	}
	.bottom-paragraph-line {
		margin-top: 50px;
	}
	h2 {
		margin-top: 50px;
	}
	p {
		font-family: "trade-gothic-cond", Verdana, sans-serif;
		margin: 35px auto;
		width: 336px;
	}
}